form{
    align-items: center;
}
.buttonAuth{
    width: 100px;
    height: 30px;
}
main{
    min-height: 80%;
    display: flex;
    justify-content: center;
    
    
}
.blockauth{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.blockauth form{
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 15px;
}
.blockauth  h1 > form {
    flex-direction: column;
}
.formAuth{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
.formlogin{
    flex-direction: column;
    color: white;
}
.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
}
form > *{
    margin-top:5px !important;
    margin-bottom: 5px !important;
}
.formlogin label svg{
    fill: gray;
}
.blockauth form button {
    background-color: #17273f;
}
.blockauth form button:hover{
    background-color: #1565c0;
}