#main_container{
    width:75%;
    display: flex;
    min-width: 750px;
}
/* tablette */ 
@media all and (max-width: 992px) {
    aside.sectionmain_aside{
        display: none;
    }
    #main_container section{
        flex-grow: 0.8;
    }
    #main_container .nav-left{
        flex-grow: 0.2;
    }
}