.formText{
    width: 100%;
}
.message{
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
    border-radius: 15px;
    padding-bottom: 0px;
}
.replylevel1, .replylevel2{
    width:70%;
    margin-right: 0 !important;
}
.blocklisteanswer{
    margin-top: 20px;
    margin-bottom: 20px;

}

.message_content{
    display: flex;
    
}
.userInfo{
    
    width: 25%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}
.userInfo img{
    width: 75px;
    height: 75px;
    margin: auto;
}
.userMessage{
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}
.userMessage_ptext{
    width: 100%;
    height: 75%;
    margin: 0;
}
.userMessage_pdate{
    width: 100%;
    height: 25%;
    margin: 0;
}
.userImage{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
}
.answer{
    height: 30px;
    display: flex;
    width: 100%;
    height: 20%;
}
.button_backMessage{
    width: 8%;
    float: left;
    position: fixed;

}
.Mui-disabled{
    color:gray !important;
}
.informationBox{
    position: absolute;
    margin: 0;
    left: 0px;
    top: 0px;
    background: gray;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}
.container_information{
    position: relative;
}
.MuiButtonGroup-root{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.answerFocus, .messageFocus, .lastanswerFocus{
    padding-top: 0px;
}
.messageAll{
    margin-top: 20px;
    margin-bottom: 2Opx;
}
.message div.answer{
    width: 75%;
    margin-left: 25%;
}
.messageOne div.answer{
    width: 75%;
    margin-left: 25%;
}
.inblocklistanswer{
    width:70%;
}
.MuiButtonGroup-root div{
    display: flex;
}
.popupParametre{
    background-color: #0a1929;
    position: absolute;
    top: 40px;
    left: -40px;
    border-radius: 5px;
    z-index: 1300;
}
.container_parametre{
    position:relative
}
.popupParametre ul{
    list-style: none;
    padding: 0;
    min-width: 100px;
    text-align: center;
    margin: 0;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}
.popupParametre ul li button{
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.popupParametre ul li button:hover{
    background-color: rgba(100,100,100,0.8);
}
