.privateMessage_user{
    display: block;
    width: calc(50% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #17273f;
    color: white;
}
.privateMessage_destuser{
    display: block;
    margin-left: 50%;
    width: calc(50% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1976d2;
    color: white;
}