.formText{
    width: 400px;
}

.message_content{
    display: flex;
}
.userInfo{
    
    width: 25%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}
.userInfo img{
    width: 75px;
    height: 75px;
    margin: auto;
}
.userMessage{
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}
.userMessage_ptext{
    width: 100%;
    height: 75%;
    margin: 0;
}
.userMessage_pdate{
    width: 100%;
    height: 25%;
    margin: 0;
}
.userImage{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
}
.answer{
    height: 30px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 20%;
}
.answer button{
    width: 30%;
    height: 20%;
    line-height: 10%;
}
.button_backMessage{
    width: 8%;
    float: left;
    position: fixed;

}
.replylevel1{
    margin-left: 13.3%;
}
.replylevel2{
    margin-left: 16.6%;
}
.replylevel3{
    margin-left: 20%;
}
main #main_container section{
    padding: 3%;
}
#blockactu_send{
    text-align: center;
}
#blockactu_send form div label svg{
    fill: gray;
}
.container_uploadimg{
    display: inline-block;
    position: relative;
}
.container_uploadimg label{
    fill: gray;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid 1px gray;
}
.container_uploadimg label:hover{
    border: solid 1px transparent;
}