.privateMessage_user{
    display: block;
    width: calc(50% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #17273f;
    color: white;
}
.privateMessage_destuser{
    display: block;
    margin-left: 50%;
    width: calc(50% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1976d2;
    color: white;
}
.message_inputtext{
    background-color: #17273f;
}
#chatForm{
    display: flex;
    justify-content: center;
}
.message_historique{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(80vh - 46.5px);
    border-right: #17273f solid 2px;
    border-left: #17273f solid 2px;
    overflow-y: scroll;
}
.lastprivateMessage_user{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: #17273f;
}
.lastprivateMessage_user div p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastprivateMessage_user:hover{
    background-color: #1565c0;
    cursor: pointer;
}

.lastprivateMessage_user div img{
    border-radius: 0;
    width: 50px;
    height: 50px;
}
.lastprivateMessage_user p{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}
.message_container_img{
    display: flex;
    align-items: center;
    padding: 10px;
}
#section_privatemessage{
    display: flex;
    flex-grow: 1;
}
#privatemessage_previewmessage{
    text-align: center;
    
    width: calc(100% - 10px);
    
    /*flex-grow: 1;*/
}
#privatemessage_rechercheuser{
    display: none;
    /*width: calc(60% - 10px);
     padding-left: 10px; 
    /*flex-grow: 0;*/
}
.message_buttonrechercheuser{
    
}
.previewmessage_addbutton{
    background-color: #1976d2;
    margin-bottom: 10px !important;
}
.previewmessage_addbutton button{
    width: 100%;
    color: black;
}
.previewmessage_addbutton:hover{
    background-color: #1565c0;
}
#privatemessage{
    flex-grow: 1;
}
#privatemessage_rechercheuser button.recherche_user{
    width: 40%;
}
#privatemessage_rechercheuser .aside_recherche div.MuiFormControl-root{
    width: 100%;
}
.message_container_info{
    width: calc(100% - 70px);
    text-align: left;

}
#privatemessage_previewmessage.grow0_4{
    width: 40%;
}
#privatemessage_rechercheuser.grow0_6{
    width: 60%;
    display: block !important;
}
.paddingleft10{
    padding-left: 10px;
}
.paddingright10{
    padding-right: 10px;
}
#iswrite{
    display: none;
}
#notifprivatemessage{
    position: fixed;
    left: calc(50% - 100px);
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    top:0;
    z-index: 25;
  }
  .notifprivatemessage{
    opacity: 0;
    
  }
  body {
    color: white;
  }
  .list_notif{
    background: #1976d2;
    list-style-type: none;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
  }
  .list_notif:hover{
    background: #1565c0;
    cursor: pointer;
  }
  

