.sectionmain_aside{
    width:20%;
    height:80vh;
    box-sizing: border-box;
    position: sticky;
    top: 10%;
}
.aside_recherche{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}
.aside_recherche input{
    border-radius: 15px;
    height: 40px;
    color: white;
    background-color: #17273f;
}
.aside_recherche input:focus-visible{
}
.recherche_user{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: white;
    border: 2px solid gray;
    border-radius: 25px;
    padding: 5px;
}
.recherche_user > div{
    margin-right: 5px;
    display: flex;
}
.recherche_user:hover{
    background-color: gray;
    cursor: pointer;
}
.recherche_user div img{
    width:50px;
    height: 50px;
}
.aside_recherche_result button{
    background-color: #17273f;
    text-transform: none;
    margin: 10px;
    width: 80%;
    height: 60px;
}
.aside_recherche_result{
    height: calc(80vh - 73px);
    overflow: scroll;
}
.css-1v8k8xx-MuiInputBase-root-MuiFilledInput-root{
    background-color: transparent !important;
}