section{
    width: 60%;
    margin-left: 20%;
    box-sizing: border-box;
    padding: 20px;
}
img{
    width: 115px;
    height: 115px;
    border-radius: 50px;
}
#blockprofil{
    text-align: center;
    display: flex;
}
#usergallery{
    width: 25%;
}
#userprofil{
    width: 75%;
}
.replylevel0{
    position: sticky;
    top:0px;
    z-index: 2;
    background-color: #0a1929;
}
#blocklistmessageprofil > label{
    position: sticky;
    z-index: 3;
    top:0px;
}