section{
    width: calc(60% - 40px);
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
img{
    width: 115px;
    height: 115px;
    border-radius: 50px;
}
#blockprofil{
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
}
#usergallery{
    position: absolute;
    left:0px;
    width: auto;
    height: auto;
}
.userprofil{
    text-align: center;
}
.replylevel0{
    position: sticky;
    top:0px;
    z-index: 2;
    background-color: #17273f;
}
#button-gallery div{
    z-index: 4 !important;
}
#blocklistmessageprofil > label{
    position: sticky;
    z-index: 3;
    top:0px;
}