.errorinput div fieldset.MuiOutlinedInput-notchedOutline{
    border-color: red !important;
}
.errorinput label{
    color:red;
}
.nav-Parametre{
    justify-content: center;
}
.form-Parametre{
    display: flex;
    flex-direction: column;
}
.parametre_imgparametre{
    visibility: hidden;
}
.parametre_img{
    display: flex;
    justify-content: center;
}
.parametre_img div.parametre_imgparametre{
    line-height: 115px;
}
.parametre_inputtext{
    color: gray;
}
#parametre_modifname *{

}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled{
    -webkit-text-fill-color: gray !important;
}